/* Change css variables below according to your theme */
:root {
    /* --connection-line-color: #696969;  */
    --connection-line-color: orange; 
    --hover-color: #fedf98;
    --bottom-text-color: brown;
    --user-icon-color: orange;
    --box-border-color: orange;
}
.genealogy * {
    margin: 0;
    padding: 0;
}

.genealogy ul {
    padding-top: 20px;
    position: relative;
    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    display: flex;

}

.genealogy li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/
.genealogy li::before,
.genealogy li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid var(--connection-line-color);
    width: 50%;
    height: 18px;
}

.genealogy li::after {
    right: auto;
    left: 50%;
    border-left: 2px solid var(--connection-line-color);
}

/*We need to remove left-right connectors from elements without
any siblings*/
.genealogy li:only-child::after,
.genealogy li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.genealogy li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.genealogy li:first-child::before,
.genealogy li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.genealogy li:last-child::before {
    border-right: 2px solid var(--connection-line-color);
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.genealogy li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.genealogy ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid var(--connection-line-color);
    width: 0;
    height: 20px;
}

.genealogy li .user-hover {
    height: auto;
    width: 65px !important;
    padding: 2px 5px;
    text-decoration: none;
    background-color: white;
    /* color: #8b8b8b; */
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    border-radius: 5px;
    border: 1px solid var(--box-border-color)
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/* .genealogy li a:hover+ul li a {  // to select all child on hovering root*/
.genealogy li .user-hover:hover,
.genealogy li .user-hover:hover {
    /* background: #cbcbcb; */
    background: var(--hover-color);
    /* color: #000; */
}

/*Connector styles on hover*/
.genealogy li .user-hover:hover+ul li::after,
.genealogy li .user-hover:hover+ul li::before,
.genealogy li .user-hover:hover+ul::before,
.genealogy li .user-hover:hover+ul ul::before {
    border-color: var(--connection-line-color);
}

/*#endregion*/
.genealogy>ul>li>ul>li>.user-hover {
    width: auto;
}

.genealogy>ul>li>.user-hover {
    width: auto;
}

.genealogy li li li .user-hover {
    width: auto;
}

.user-icon {
    font-size: 30px;
    padding: 5px;
    color:var(--user-icon-color);
}

.bottom-text{
    color: var(--bottom-text-color);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {


    .genealogy li span {
        padding: 5px !important;
        height: 45px !important;
        width: 45px !important;
    }

    .genealogy {
        font-size: 8px !important;
    }

    .genealogy li {
        padding: 20px 2px 0px 2px !important;
    }

    .genealogy li.user-hover {
        height: auto;
        width: 60px !important;
        padding: 2px 5px;
        text-decoration: none;
        background-color: white;
        /* color: red; */
        font-family: arial, verdana, tahoma;
        font-size: 10px;
        display: inline-block;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        -transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        border-radius: 5px;
        border: 1px solid #000
    }

}